.Main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    font-size: calc(10px + 2vmin);
}

.Button {
    height: 60px;
    width: 500px;
    border-radius: 10px;
    font-size: 30px;
}

.Text {
    font-size: 50px;
}