.Main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.ViewButton {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.ViewButton1 {
  margin-left: 10px;
  margin-top: 20px;
}

.ViewButton2 {
  margin-right: 10px;
  margin-top: 20px;
}

.Button {
  height: 60px;
  width: 200px;
  background-color: rgb(8, 236, 38);
  border-radius: 10px;
  font-size: 20px;
  color: white;
}

.Text {
  font-size: 50px;
}
